e
body
{color:#40514E;
margin:0;
text-align: center;
font-family: 'Merriweather', serif;
font-size: 100%
}
h1
{margin:50px auto 0 auto;
font-family: 'Sacramento', cursive;
font-size:4.68rem;
color: #66BFBF;
}
h2{
font-family: 'Montserrat', sans-serif;
font-size: 1.5rem;
color: #66BFBF;
padding-bottom:10px;    
}
h3{
font-family: 'Montserrat', sans-serif;
color:#11999E;
}
p
{margin-top:0;line-height:2;
}
hr{border:dotted; border-width:5px 0px 0px 0px;color:#EAF6F6;width:4%;margin:50px auto;}
a{font-family: 'Montserrat', sans-serif; margin:10px 20px;text-decoration:none;
}
a:hover{color:#EAF6F6;}
.top-container
{background-color:#eaf6f6;
position:relative;
padding-top:100px;
}
.middle-container
{
}
.bottom-container
{background:#66BFBF;color:#EAF6F6;
padding-bottom:15px;
padding-top:40px;
}
.banker{font-weight:normal;color: #66BFBF ;font-size: 1.5rem;text-decoration:underline;}   
.bottom-cloud
{position: absolute;
left:250px;
bottom:300px;
}
.top-cloud
{position: absolute;
right:300px;
top:40px;
}
.profile{border-radius:100%;width:50%;margin:30px 100px;float:center;}
.namastey{width:30%; text-align:center; margin:auto;}
.Skills{border-radius:100%;margin:0 30px 0 0;width:25%;float:left; color: #66BFBF;}
.Bamboo{border-radius:100%;margin-left:30px;width:25%;float:right;}
.skill-row{width:50%; margin:50px auto 50px auto; text-align:left;line-height:2;}
.skills1{color:#11999E;}
.button{
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 10px;
color: #FFFFFF;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-weight: 30;
padding: 0 25px 0 25px;
background-color: #66BFBF;
background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
background-image: -o-linear-gradient(top, #11cdd4, #11999e);
background-image: linear-gradient(to bottom, #11cdd4, #11999e);
text-decoration: none;
display: inline-block;
cursor: pointer;
text-align:center;
margin:25px;
height:40px;
}

.button:hover {
border: solid #337FED 1px;
background: #1E62D0;
background-image: -webkit-linear-gradient(top, #30e3cb, #58c8db);
background-image: -moz-linear-gradient(top, #30e3cb, #58c8db);
background-image: -ms-linear-gradient(top, #30e3cb, #58c8db);
background-image: -o-linear-gradient(top, #30e3cb, #58c8db);
background-image: linear-gradient(to bottom, #30e3cb, #58c8db);
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
text-decoration: none;
}
.footer-link{color:#11999E;}
.copyright{word-spacing:1px;color:#EAF6F6; font-size:0.75rem;padding:20px 0;}
.contact-me{width: 40%;line-height:2;margin:40px auto 60px  ;}
